#tags2dContainer {
    width: 724px;
    overflow: auto;
    padding: 48px;
    border: 2px solid #aaa;
    border-radius: 10px;
    -moz-border-radius: 10px;
}

#tags2dContainer span a {
    margin: 6px;
    text-decoration: none;
}

/*
 * http://www.thewebmadeeasy.com/styling/create-html5-tooltip/
 */

/*

a.tooltip {
    position:relative;
}

a.tooltip::before {
    content: attr(data-tooltip) ;
    font-size: 12px;
    position:absolute;
    z-index: 999;
    white-space:nowrap;
    bottom:9999px;
    left: 0;
    background:#ccc;
    color:black;
    padding:0px 7px;
    line-height: 24px;
    height: 24px;
    opacity: 0;
}
a.tooltip:hover::before {
    opacity: 1;
    top:32px;
}
a.tooltip:hover::after {
    content: "";
    opacity: 1;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ccc;
    z-index: 999;
    position:absolute;
    white-space:nowrap;
    top:27px;
    left: 0px;
}

*/
